.welcome-container {
    display: flex;
    position: relative;
}

.darkblue {
    background-color: $color-primary;
    width: 50%;
    height: 100vh;
}

.lightgray {
    background-color: $color-secondary;
    width: 50%;
    height: 100vh;
}

.logo {
    @include center;
    left: 15%;
    top: -15%;
    visibility: hidden;
    opacity: 0;
    width: 15rem;
    height: 15rem;
    animation: slideDown 2s ease forwards 1s;

    #logo {
        width: 15rem !important;
        height: 15rem !important;
    }
}

.welcome {
    @include center;
    font-size: 15rem;
    letter-spacing: 8rem;
    left: 50%;
    top: 40%;
    color: $color-primary;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);

    &::first-letter {
        color: $color-secondary;
    }

    cursor: default;
}


.welcome-button {
    @include center;
    left: 50%;
    bottom: -2%;
    visibility: hidden;
    opacity: 0;
    color: $color-limegreen;
    text-decoration: none;
    border: 2px solid $color-limegreen;
    border-radius: 100px;
    padding: 2rem 4rem;
    font-size: 1.8rem;
    transition: all .2s ease-in;
    font-weight: bold;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.25);
    animation: slideUp 2s ease forwards 1s;
    z-index: 2;

    &:hover,
    &:active {
        background-color: $color-limegreen;
        border: 2px solid transparent;
        color: $color-primary;

        &~.more .more--about,
        &~.more .more--contact,
        &~.more .more--future {
            visibility: visible;
            opacity: 1;
        }

        &~.more .more--about {
            top: 0%;
            left: -20%;
        }

        &~.more .more--contact {
            top: 65%;
            left: -30%;
        }

        &~.more .more--future {
            top: 50%;
            right: -40%;
        }
    }
}

.more {
    @include center;
    left: 50%;
    bottom: 6%;
    background-color: transparent;
    width: 20rem;
    height: 10rem;
    z-index: 1;
    transition: all .25s ease;

    &--about,
    &--contact,
    &--future {
        font-size: 2.1rem;
        color: $color-secondary;
        text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: all .25s ease;
    }

    &--about {
        top: 50%;
        left: 0%;
        transform: rotate(-25deg);
    }

    &--contact {
        top: 50%;
        left: 0%;
        transform: rotate(25deg);
    }

    &--future {
        color: $color-primary;
        top: 50%;
        right: 0%;
    }
}

@keyframes slideDown {
    to {
        top: 15%;
        visibility: visible;
        opacity: 1;
    }
}

@keyframes slideUp {
    to {
        bottom: 10%;
        visibility: visible;
        opacity: 1;
    }
}